.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  padding-left: 2px;
}

.sidebarOption:hover {
  background-color: #0e3625;
  opacity: 0.9;
}

.sidebarOption__icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption__hash {
  padding-right: 10px;
}
.sidebarOption > h3 {
  font-weight: 500;
}
